body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#detail {
    color: white;
}

#detail .description {
    padding: 260px 250px;
}

#detail .description .name {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

#detail .description .info {
    width: 750px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

#detail .description .type,
#detail .description .locate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

#detail .description .type .icon,
#detail .description .locate .icon {
    width: 50px;
    height: 50px;
    background-color: #858086;
    opacity: 0.9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

#detail .description .type .icon img,
#detail .description .locate .icon img {
    width: 25px;
    height: 25px;
}

#detail .description .type > span,
#detail .description .locate > span {
    color: white;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 500;
}

#detail .description .type {
    margin-bottom: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #0d0f1c;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #0d0f1c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: -10%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0d0f1c transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #0d0f1c;
    z-index: 10;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #0d0f1c;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 20px;
    position: absolute;
    z-index: 10;
    top: 120%;
    left: -220%;
    margin-left: -60px;
}

.tooltip2 .tooltiptext::after {
    z-index: 10;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0d0f1c transparent;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
    z-index: 10;
}
